.header--wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f6f6;
  border-bottom: 1px solid rgba(100, 149, 211, 0.35);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.header {
  margin-bottom: 80px;
}
.header-container{
  display: flex;
  flex: 1;
  /* max-width: 1140px; */
  z-index: 5000;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header--wrapper.dark {
  background-color: #0f233c;
  border-bottom: 1px solid #6495d359;
}

.header--menu-icon {
  display: none;
}

.header--menu-list {
  display: flex; 
  flex-direction: row; 
  width: 1000px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  
}

.header--logo {
  margin-left: 35px;
  margin-right: 60px;
  padding: 20px 0px;
  cursor: pointer;
}

.header--action-button {
  text-decoration: none;
  z-index: 5001;
  margin-right: 10%;
  border-radius: 50px;
  margin-left: auto;
  padding: 5px 25px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: white;
  background-color: #11253e;
  cursor: pointer;
}

.header--action-button-mobile {
  text-decoration: none;
  flex: 1;
  z-index: 5001;
  border-radius: 50px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 35px 30px 35px 30px;
  background-color: #11253e;
  cursor: pointer;
  padding: 10px;
}

.header--action-button.dark {
  background-color: #febe10;
}


/* ======= MENU ITEM ======= */

.header--menu-item {
  padding: 0 20px;
  display: block;
  transition: 0.2s all;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2px;
}



.header--menu-item-text {
  color: #3e7cb1;
  font-weight: 600;
  cursor: pointer;
  pointer-events: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}



.header--menu-item-text.dark {
  color: #ffffffcc;
}

.header--menu-item-text img {
  margin-left: 10px;
}

.header--menu-items {
  position: absolute;
  top: 80px;
  padding: 15px 60px 15px 20px;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(3.32737px 4.27805px 13.3095px rgba(201, 201, 200, 0.3));
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header--menu-items.dark {
  filter: drop-shadow(3.32737px 4.27805px 13.3095px rgba(36, 36, 36, 0.601));
}

.header--menu-subitem-title {
  color: #335075;
  font-weight: 600;
  padding: 10px 0 15px 0;
  cursor: default;
}

.header--menu-subitem {
  color: #335075;
  font-weight: 0;
  padding: 10px 0;
  cursor: pointer;
  margin-right: 10px;
}

.header--full-menu-container {
  width: 0vw;
  height: 0vh;
  position: fixed;
  top: 0;
  background-color: white;
}

.header--full-menu-container-visible {
  width: 100vw;
  height: 100%;
  padding-bottom: 60px;
  position: fixed;
  top: 60px;
  left: 0;
  overflow: scroll;
  background-color: white;
  z-index: 100;
}

.header--responsive-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 20px 10%;
  font-size: 18px;
  font-weight: 800;
  color: #335075;
  cursor: pointer;
}

.header--responsive-menu-item-title {
  color: #335075;
  font-weight: 600;
  padding: 10px 0 15px 14%;
}

.header--responsive-menu-subitem {
  color: #335075;
  font-weight: 200;
  padding: 10px 0 15px 20%;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.header--menu-caret {
  cursor: pointer;
  transform: rotateX(0deg);
  transition: 300ms;
}


.header--menu-caret-show {
  transform: rotateX(-180deg);
  transition: 300ms;
}

.header--full-menu-container-visible {
  display: none;
}

.header-with-items {
  width: 600px;
  flex-direction: row;
  display: flex;
  height: 100%;
}

.header-menu-container-buttons {
  display: none;
  justify-self: flex-end;
  border-top: 1px solid #C9DAF0;
}

.header-responsive-menu-items-container {
  display:flex;
  flex-direction: column;
  flex:1;
  overflow: auto;
}

@media screen and (max-width:1050px) {

  .header--logo {
    margin-left: 35px;
    margin-right: 30px;
    cursor: pointer;
    width: 100px;
  }
  .header--menu-item-text {
    font-size: 14px;
  }
  .header--action-button {
    font-size: 14px;
    padding: 5px 15px;
  }
  .header--menu-item{
    padding: 0 10px;
  }
 
}
@media screen and (max-width:768px) {
  
  .header--menu-list {
    display: none;
  }
  .header--full-menu-container-visible {
    display: flex;
    flex-direction: column;
  }
  .header--action-button {
    display: none;
  }

  .header--menu-icon {
    display: block;
    margin-right: 10%;
    margin-left: auto;
    cursor: pointer;
  }

  .header--logo {
    margin-left: 25px;
    cursor: pointer;
  }
  .header-with-items {
    width: 450px;

  }
  .header--wrapper {
    height: 60px;
   
  }
  .header {
     margin-bottom: 60px;
  }
  .header--logo {
    padding: 0px;
  }
  /* .PlasmicHomepage-module--freeBox__sIloo--2c71b {
    height: 60px !important;
  } */
}

@media screen and (max-width: 500px) {
  .header-with-items {
    width: 280px;
  }
}


.header--menu-item-text:hover {
  transition: all 0.2s;
  color: #11253e;
  border-bottom: 2px solid #3e7cb1;
}

/* .header--menu-item:hover {
  
} */

.header--menu-subitem:hover {
  color: #3e7cb1;
  transition: all 0.2s;

}