.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__anqRx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, #f5f6f6 29%, #ffffff 90%);
  min-width: 0;
  padding: 60px 0px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .hero {
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) > *,
  .hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .hero > :global(.__wab_flex-container) > picture > img,
  .hero
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
.columns__kt20C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1140px;
  min-width: 0;
}
.columns__kt20C > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__kt20C > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__kt20C > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns__kt20C {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .columns__kt20C > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__kt20C > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 8 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__kt20C > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kt20C {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kt20C > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vyJmD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__vyJmD {
    display: none;
  }
}
.img__oh0Pl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__oh0Pl > picture > img {
  object-fit: cover;
}
.img__oh0Pl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__oh0Pl {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__oh0Pl > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__oh0Pl > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.column__hlXgf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__yjv3T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yjv3T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__yjv3T > :global(.__wab_flex-container) > *,
.freeBox__yjv3T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yjv3T > :global(.__wab_flex-container) > picture > img,
.freeBox__yjv3T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yjv3T > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yjv3T > :global(.__wab_flex-container) > *,
  .freeBox__yjv3T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yjv3T > :global(.__wab_flex-container) > picture > img,
  .freeBox__yjv3T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 35px;
  }
}
.freeBox__op8Ne {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__op8Ne > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__op8Ne > :global(.__wab_flex-container) > *,
.freeBox__op8Ne > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__op8Ne > :global(.__wab_flex-container) > picture > img,
.freeBox__op8Ne
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__op8Ne > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__op8Ne > :global(.__wab_flex-container) > *,
  .freeBox__op8Ne > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__op8Ne > :global(.__wab_flex-container) > picture > img,
  .freeBox__op8Ne
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text__chdXz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__chdXz {
    text-align: center;
    font-size: 13px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 150%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    text-align: center;
    font-size: 32px;
  }
}
.text__ecUgo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__ecUgo {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ecUgo {
    text-align: center;
    font-size: 18px;
  }
}
.link__otBkt {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 48px;
  width: 215px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__otBkt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__otBkt > :global(.__wab_flex-container) > *,
.link__otBkt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__otBkt > :global(.__wab_flex-container) > picture > img,
.link__otBkt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__otBkt {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__otBkt > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__dAgp3 {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__dAgp3 {
    text-align: center;
  }
}
.img__pRJz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__pRJz > picture > img {
  object-fit: cover;
}
.img__pRJz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__tBaXz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__tBaXz {
    display: none;
  }
}
.img__urLuU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__urLuU > picture > img {
  object-fit: cover;
}
.img__urLuU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__urLuU {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__urLuU > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__urLuU > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.img__zqjuY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 310px;
  left: auto;
  top: auto;
  z-index: 3;
  align-self: center;
}
.img__zqjuY > picture > img {
  object-fit: cover;
}
.img__zqjuY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__zqjuY {
    position: relative;
    left: auto;
    top: auto;
    width: 240px;
  }
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JNoyw_xuvedGqk);
  min-width: 0;
  padding: 10px 0px 126px;
}
@media (max-width: 1024px) {
  .section2 {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 70px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .section2 {
    padding: 0px 35px 45px;
  }
}
.freeBox__e5Kuo {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 177px;
  max-width: 100%;
  left: 0px;
  top: -85px;
  background: var(--token-bhkZ3Xso1Bhkbj);
  margin-top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__e5Kuo {
    left: 0px;
    top: -93px;
    padding: 0px;
  }
}
.columns__pRqHy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 1140px;
  justify-content: flex-start;
  background: var(--token-4XdmCfH5lTB0df);
  z-index: 2;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__pRqHy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1024px) {
  .columns__pRqHy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pRqHy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pRqHy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___78DYw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___78DYw {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.text__r7W3W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 950px;
  color: #ffffff;
  font-size: 28px;
  line-height: 140%;
  padding-bottom: 0px;
  text-align: center;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__r7W3W {
    font-size: 22px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__r7W3W {
    font-size: 18px;
  }
}
.columns___8V2S {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 75px;
  margin-bottom: 55px;
  max-width: 1140px;
  min-width: 0;
  padding: 0px;
}
.columns___8V2S > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns___8V2S > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns___8V2S > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns___8V2S > :global(.__wab_flex-container) > *,
.columns___8V2S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8V2S > :global(.__wab_flex-container) > picture > img,
.columns___8V2S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .columns___8V2S {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .columns___8V2S > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .columns___8V2S > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8V2S {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 20px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8V2S > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8V2S > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8V2S > :global(.__wab_flex-container) > *,
  .columns___8V2S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8V2S > :global(.__wab_flex-container) > picture > img,
  .columns___8V2S
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__neLsF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__neLsF {
    padding: 0px;
  }
}
.freeBox__a3ZJr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__a3ZJr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__a3ZJr > :global(.__wab_flex-container) > *,
.freeBox__a3ZJr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a3ZJr > :global(.__wab_flex-container) > picture > img,
.freeBox__a3ZJr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__a3ZJr > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__a3ZJr > :global(.__wab_flex-container) > *,
  .freeBox__a3ZJr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a3ZJr > :global(.__wab_flex-container) > picture > img,
  .freeBox__a3ZJr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___3Fi1B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 400px;
}
.img___3Fi1B > picture > img {
  object-fit: cover;
}
.img___3Fi1B > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__rcxjk {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 750px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
}
@media (max-width: 1024px) {
  .text__rcxjk {
    font-size: 24px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__rcxjk {
    font-size: 20px;
  }
}
.text__n8LiI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__n8LiI {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__n8LiI {
    font-size: 16px;
  }
}
.column__iGbE4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__iGbE4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__iGbE4 > :global(.__wab_flex-container) > *,
.column__iGbE4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__iGbE4 > :global(.__wab_flex-container) > picture > img,
.column__iGbE4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__iGbE4 {
    padding: 0px;
  }
}
.freeBox__zd9D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__zd9D > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__zd9D > :global(.__wab_flex-container) > *,
.freeBox__zd9D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zd9D > :global(.__wab_flex-container) > picture > img,
.freeBox__zd9D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zd9D > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zd9D > :global(.__wab_flex-container) > *,
  .freeBox__zd9D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zd9D > :global(.__wab_flex-container) > picture > img,
  .freeBox__zd9D
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__hKDeR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__hKDeR > picture > img {
  object-fit: cover;
}
.img__hKDeR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nifcU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__nifcU {
    font-size: 24px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__nifcU {
    font-size: 20px;
  }
}
.text__pGgf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__pGgf {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__pGgf {
    font-size: 16px;
  }
}
.columns__v9PrZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1140px;
  min-width: 0;
  padding: 0px;
}
.columns__v9PrZ > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__v9PrZ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__v9PrZ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__v9PrZ > :global(.__wab_flex-container) > *,
.columns__v9PrZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__v9PrZ > :global(.__wab_flex-container) > picture > img,
.columns__v9PrZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__v9PrZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__v9PrZ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__v9PrZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__v9PrZ > :global(.__wab_flex-container) > *,
  .columns__v9PrZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__v9PrZ > :global(.__wab_flex-container) > picture > img,
  .columns__v9PrZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column___2LRwa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___2LRwa {
    padding: 0px;
  }
}
.freeBox__aMhfQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__aMhfQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__aMhfQ > :global(.__wab_flex-container) > *,
.freeBox__aMhfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aMhfQ > :global(.__wab_flex-container) > picture > img,
.freeBox__aMhfQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aMhfQ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aMhfQ > :global(.__wab_flex-container) > *,
  .freeBox__aMhfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aMhfQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__aMhfQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__qmevK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__qmevK > picture > img {
  object-fit: cover;
}
.img__qmevK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ez84F {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
}
@media (max-width: 1024px) {
  .text__ez84F {
    font-size: 24px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ez84F {
    font-size: 20px;
  }
}
.text__htvNy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__htvNy {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__htvNy {
    font-size: 16px;
  }
}
.column__o9Em {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__o9Em > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__o9Em > :global(.__wab_flex-container) > *,
.column__o9Em > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__o9Em > :global(.__wab_flex-container) > picture > img,
.column__o9Em
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__o9Em {
    padding: 0px;
  }
}
.freeBox__f1Ol4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__f1Ol4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__f1Ol4 > :global(.__wab_flex-container) > *,
.freeBox__f1Ol4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1Ol4 > :global(.__wab_flex-container) > picture > img,
.freeBox__f1Ol4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__f1Ol4 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__f1Ol4 > :global(.__wab_flex-container) > *,
  .freeBox__f1Ol4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f1Ol4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__f1Ol4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___8LwAk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img___8LwAk > picture > img {
  object-fit: cover;
}
.img___8LwAk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__o5Cal {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
}
@media (max-width: 1024px) {
  .text__o5Cal {
    font-size: 24px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__o5Cal {
    font-size: 20px;
  }
}
.text___2RoY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text___2RoY {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___2RoY {
    font-size: 16px;
  }
}
.freeBox___6LmCu {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 215px;
  max-width: 100%;
  left: 0;
  top: auto;
  background: var(--token-JNoyw_xuvedGqk);
  margin-top: 0px;
  z-index: 0;
  bottom: -200px;
  right: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6LmCu {
    left: 0;
    top: auto;
    bottom: -200px;
    right: 0;
    width: auto;
    display: flex;
    padding: 0px;
  }
}
.freeBox__miAkp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1024px) {
  .freeBox__miAkp {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__miAkp {
    padding: 35px;
  }
}
.freeBox__v801I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1140px;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 6.75% / contain
      no-repeat,
    url("./images/webBgPattern1Png.png") left 50% bottom 125.75% / contain no-repeat,
    var(--token-Upjowq-BeelUUS);
  min-width: 0;
  border-radius: 50px;
  padding: 40px 92px 0px;
}
@media (max-width: 1024px) {
  .freeBox__v801I {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__v801I {
    background: url("./images/webBgPattern1Png.png") left 50% bottom 6.75% / contain
        no-repeat,
      url("./images/webBgPattern1Png.png") left 50% bottom 95.75% / contain no-repeat,
      var(--token-Upjowq-BeelUUS);
    border-radius: 30px;
    padding: 30px 30px 0px;
  }
}
.columns__pfwVd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__pfwVd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns__pfwVd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns__pfwVd {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .columns__pfwVd > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 9 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__pfwVd > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pfwVd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pfwVd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sgw9H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__sgw9H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__sgw9H > :global(.__wab_flex-container) > *,
.column__sgw9H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__sgw9H > :global(.__wab_flex-container) > picture > img,
.column__sgw9H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bCXy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__bCXy {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__bCXy {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.text__kmck8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 145%;
  font-weight: 300;
  padding-right: 59px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__kmck8 {
    font-size: 28px;
    padding-right: 50px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__kmck8 {
    font-size: 22px;
    text-align: center;
    padding-right: 0px;
  }
}
.freeBox__nFx1R {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 0px 15px;
}
.freeBox__nFx1R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__nFx1R > :global(.__wab_flex-container) > *,
.freeBox__nFx1R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nFx1R > :global(.__wab_flex-container) > picture > img,
.freeBox__nFx1R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .freeBox__nFx1R {
    padding-bottom: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nFx1R {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nFx1R > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link__v7Oec {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 45px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__v7Oec > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__v7Oec > :global(.__wab_flex-container) > *,
.link__v7Oec > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__v7Oec > :global(.__wab_flex-container) > picture > img,
.link__v7Oec
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__v7Oec {
    align-self: flex-start;
  }
}
.text__f437 {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__f437 {
    text-align: center;
  }
}
.img___46TbW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img___46TbW > picture > img {
  object-fit: cover;
}
.img___46TbW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__tfQo6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .column__tfQo6 {
    justify-content: flex-end;
    align-items: center;
  }
}
.img__wu6Rx {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wu6Rx > picture > img {
  object-fit: cover;
}
.img__wu6Rx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__wu6Rx {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (max-width: 1024px) {
  .img__wu6Rx > picture > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (max-width: 1024px) {
  .img__wu6Rx > :global(.__wab_img-spacer) > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__wu6Rx {
    max-width: 180px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
