.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__jLD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, #f5f6f6 29%, #ffffff 90%);
  min-width: 0;
  padding: 60px 0px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .hero {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) > *,
  .hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .hero > :global(.__wab_flex-container) > picture > img,
  .hero
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
.columns__y69Cp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1140px;
  min-width: 0;
}
.columns__y69Cp > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__y69Cp > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__y69Cp > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns__y69Cp {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .columns__y69Cp > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__y69Cp > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 8 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__y69Cp > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__y69Cp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__y69Cp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__s9O5K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__s9O5K {
    display: none;
  }
}
.img__mrtrd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__mrtrd > picture > img {
  object-fit: cover;
}
.img__mrtrd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__mrtrd {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__mrtrd > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__mrtrd > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.column__lv0A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__diXSp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__diXSp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__diXSp > :global(.__wab_flex-container) > *,
.freeBox__diXSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__diXSp > :global(.__wab_flex-container) > picture > img,
.freeBox__diXSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__diXSp > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__diXSp > :global(.__wab_flex-container) > *,
  .freeBox__diXSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__diXSp > :global(.__wab_flex-container) > picture > img,
  .freeBox__diXSp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 35px;
  }
}
.freeBox__sgmaw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sgmaw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sgmaw > :global(.__wab_flex-container) > *,
.freeBox__sgmaw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sgmaw > :global(.__wab_flex-container) > picture > img,
.freeBox__sgmaw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__sgmaw > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__sgmaw > :global(.__wab_flex-container) > *,
  .freeBox__sgmaw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sgmaw > :global(.__wab_flex-container) > picture > img,
  .freeBox__sgmaw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text__wveJf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__wveJf {
    font-size: 13px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 150%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    text-align: center;
    font-size: 32px;
  }
}
.text__k5Djk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__k5Djk {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__k5Djk {
    text-align: center;
    font-size: 18px;
  }
}
.link__kzFqZ {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 48px;
  width: 215px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__kzFqZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__kzFqZ > :global(.__wab_flex-container) > *,
.link__kzFqZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kzFqZ > :global(.__wab_flex-container) > picture > img,
.link__kzFqZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__kzFqZ {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__kzFqZ > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__yHewn {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__yHewn {
    text-align: center;
  }
}
.img__e25L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__e25L > picture > img {
  object-fit: cover;
}
.img__e25L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__s2DWn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__s2DWn {
    display: none;
  }
}
.img__cbLAg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__cbLAg > picture > img {
  object-fit: cover;
}
.img__cbLAg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__cbLAg {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__cbLAg > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__cbLAg > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.img__cMj6A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 310px;
  left: auto;
  top: auto;
  z-index: 3;
  align-self: center;
}
.img__cMj6A > picture > img {
  object-fit: cover;
}
.img__cMj6A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cMj6A {
    position: relative;
    left: auto;
    top: auto;
    width: 240px;
  }
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JNoyw_xuvedGqk);
  min-width: 0;
  padding: 10px 0px 126px;
}
@media (max-width: 1024px) {
  .section2 {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 70px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .section2 {
    padding: 0px 35px 45px;
  }
}
.freeBox__deVvq {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 177px;
  max-width: 100%;
  left: 0px;
  top: -85px;
  background: var(--token-bhkZ3Xso1Bhkbj);
  margin-top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 1024px) {
  .freeBox__deVvq {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__deVvq {
    left: 0px;
    top: -90px;
    padding: 0px;
  }
}
.columns__trJp3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 1140px;
  justify-content: flex-start;
  background: var(--token-4XdmCfH5lTB0df);
  z-index: 2;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__trJp3 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1024px) {
  .columns__trJp3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__trJp3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__trJp3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tLof6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__tLof6 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.text__wjW4D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  color: #ffffff;
  font-size: 28px;
  line-height: 140%;
  padding-bottom: 0px;
  text-align: center;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__wjW4D {
    font-size: 22px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__wjW4D {
    font-size: 18px;
  }
}
.columns__uQQeo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 75px;
  margin-bottom: 55px;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns__uQQeo > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__uQQeo > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__uQQeo > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__uQQeo > :global(.__wab_flex-container) > *,
.columns__uQQeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uQQeo > :global(.__wab_flex-container) > picture > img,
.columns__uQQeo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .columns__uQQeo {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .columns__uQQeo > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__uQQeo > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uQQeo {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 20px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uQQeo > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uQQeo > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uQQeo > :global(.__wab_flex-container) > *,
  .columns__uQQeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uQQeo > :global(.__wab_flex-container) > picture > img,
  .columns__uQQeo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__tg2Zj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__tg2Zj {
    padding: 0px;
  }
}
.freeBox__qWdag {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__qWdag > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__qWdag > :global(.__wab_flex-container) > *,
.freeBox__qWdag > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qWdag > :global(.__wab_flex-container) > picture > img,
.freeBox__qWdag
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__qWdag > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__qWdag > :global(.__wab_flex-container) > *,
  .freeBox__qWdag > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qWdag > :global(.__wab_flex-container) > picture > img,
  .freeBox__qWdag
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___7CHa5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img___7CHa5 > picture > img {
  object-fit: cover;
}
.img___7CHa5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qXxH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__qXxH {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__qXxH {
    font-size: 20px;
  }
}
.text__zeOyo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__zeOyo {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__zeOyo {
    font-size: 16px;
  }
}
.column__zjuoY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__zjuoY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__zjuoY > :global(.__wab_flex-container) > *,
.column__zjuoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zjuoY > :global(.__wab_flex-container) > picture > img,
.column__zjuoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__zjuoY {
    padding: 0px;
  }
}
.freeBox__guc4O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__guc4O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__guc4O > :global(.__wab_flex-container) > *,
.freeBox__guc4O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__guc4O > :global(.__wab_flex-container) > picture > img,
.freeBox__guc4O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__guc4O > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__guc4O > :global(.__wab_flex-container) > *,
  .freeBox__guc4O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__guc4O > :global(.__wab_flex-container) > picture > img,
  .freeBox__guc4O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___6FfVv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img___6FfVv > picture > img {
  object-fit: cover;
}
.img___6FfVv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__i0H0C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 5px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__i0H0C {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__i0H0C {
    font-size: 20px;
  }
}
.text__sd2Yv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__sd2Yv {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__sd2Yv {
    font-size: 16px;
  }
}
.columns__yrUjK {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns__yrUjK > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__yrUjK > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__yrUjK > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__yrUjK > :global(.__wab_flex-container) > *,
.columns__yrUjK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yrUjK > :global(.__wab_flex-container) > picture > img,
.columns__yrUjK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yrUjK {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yrUjK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yrUjK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yrUjK > :global(.__wab_flex-container) > *,
  .columns__yrUjK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__yrUjK > :global(.__wab_flex-container) > picture > img,
  .columns__yrUjK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__pv8Wu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__pv8Wu {
    padding: 0px;
  }
}
.freeBox__eCsnK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__eCsnK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__eCsnK > :global(.__wab_flex-container) > *,
.freeBox__eCsnK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eCsnK > :global(.__wab_flex-container) > picture > img,
.freeBox__eCsnK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__eCsnK > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__eCsnK > :global(.__wab_flex-container) > *,
  .freeBox__eCsnK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eCsnK > :global(.__wab_flex-container) > picture > img,
  .freeBox__eCsnK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__j5Fsw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__j5Fsw > picture > img {
  object-fit: cover;
}
.img__j5Fsw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__eFxw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__eFxw {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eFxw {
    font-size: 20px;
  }
}
.text__eThGe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__eThGe {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eThGe {
    font-size: 16px;
  }
}
.column__zq3Fy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__zq3Fy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__zq3Fy > :global(.__wab_flex-container) > *,
.column__zq3Fy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zq3Fy > :global(.__wab_flex-container) > picture > img,
.column__zq3Fy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__zq3Fy {
    padding: 0px;
  }
}
.freeBox___45Yed {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox___45Yed > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox___45Yed > :global(.__wab_flex-container) > *,
.freeBox___45Yed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___45Yed > :global(.__wab_flex-container) > picture > img,
.freeBox___45Yed
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___45Yed > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___45Yed > :global(.__wab_flex-container) > *,
  .freeBox___45Yed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___45Yed > :global(.__wab_flex-container) > picture > img,
  .freeBox___45Yed
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__t9MQj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__t9MQj > picture > img {
  object-fit: cover;
}
.img__t9MQj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__dIjx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__dIjx {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__dIjx {
    font-size: 20px;
  }
}
.text__cp4Pe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__cp4Pe {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__cp4Pe {
    font-size: 16px;
  }
}
.freeBox__gP1I {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 215px;
  max-width: 100%;
  left: 0;
  top: auto;
  background: var(--token-JNoyw_xuvedGqk);
  margin-top: 0px;
  z-index: 0;
  right: 0;
  bottom: -200px;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__gP1I {
    left: 0;
    top: auto;
    right: 0;
    bottom: -200px;
    width: auto;
    display: flex;
    padding: 0px;
  }
}
.freeBox__iDgbd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1024px) {
  .freeBox__iDgbd {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__iDgbd {
    padding: 35px;
  }
}
.freeBox__vr5Og {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 3.87% / contain
      no-repeat,
    url("./images/webBgPattern1Png.png") top -29% left 50% / contain no-repeat,
    var(--token-Upjowq-BeelUUS);
  min-width: 0;
  border-radius: 50px;
  padding: 40px 92px 0px;
}
@media (max-width: 1024px) {
  .freeBox__vr5Og {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__vr5Og {
    border-radius: 30px;
    padding: 30px 30px 0px;
  }
}
.columns__jr1Ed {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__jr1Ed > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns__jr1Ed > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jr1Ed {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jr1Ed > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5520A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___5520A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column___5520A > :global(.__wab_flex-container) > *,
.column___5520A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___5520A > :global(.__wab_flex-container) > picture > img,
.column___5520A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vstVt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__vstVt {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__vstVt {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.text__lbSlm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 145%;
  font-weight: 300;
  padding-right: 59px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__lbSlm {
    font-size: 28px;
    padding-right: 50px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lbSlm {
    font-size: 22px;
    padding-right: 0px;
    text-align: center;
  }
}
.freeBox__dcDwx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 8px 15px;
}
.freeBox__dcDwx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__dcDwx > :global(.__wab_flex-container) > *,
.freeBox__dcDwx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dcDwx > :global(.__wab_flex-container) > picture > img,
.freeBox__dcDwx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .freeBox__dcDwx {
    padding-bottom: 37px;
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dcDwx {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dcDwx > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link__bNNzt {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 45px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__bNNzt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__bNNzt > :global(.__wab_flex-container) > *,
.link__bNNzt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bNNzt > :global(.__wab_flex-container) > picture > img,
.link__bNNzt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__bNNzt {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__bNNzt > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__odrmZ {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__odrmZ {
    text-align: center;
  }
}
.img__czq8M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__czq8M > picture > img {
  object-fit: cover;
}
.img__czq8M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__nX12V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__pZS {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__pZS > picture > img {
  object-fit: cover;
}
.img__pZS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__pZS {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (max-width: 1024px) {
  .img__pZS > picture > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (max-width: 1024px) {
  .img__pZS > :global(.__wab_img-spacer) > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__pZS {
    max-width: 140px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
