.root2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root2 > :global(.__wab_flex-container) > *,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root2 > :global(.__wab_flex-container) > picture > img,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__x0EtK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 80px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.section1 {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.section1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section1 > :global(.__wab_flex-container) > *,
.section1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section1 > :global(.__wab_flex-container) > picture > img,
.section1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .section1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns___2Qh2C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-iS2w02oNBYVza-);
  min-width: 0;
}
.columns___2Qh2C > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns___2Qh2C > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___2Qh2C {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___2Qh2C > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__abVim {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__abVim {
    width: 100%;
  }
}
.freeBox___9TPlD {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-Upjowq-BeelUUS);
  height: 100%;
  max-width: none;
  min-width: 0;
  min-height: 0;
  padding: 125px 0px 100px 135px;
}
.freeBox___9TPlD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 37px);
  height: calc(100% + 37px);
}
.freeBox___9TPlD > :global(.__wab_flex-container) > *,
.freeBox___9TPlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9TPlD > :global(.__wab_flex-container) > picture > img,
.freeBox___9TPlD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 37px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___9TPlD {
    border-bottom-right-radius: 0px;
    padding: 45px 30px 0px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  max-width: none;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .copy {
    margin-bottom: 20px;
  }
}
.freeBox__vVvCc {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vVvCc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vVvCc > :global(.__wab_flex-container) > *,
.freeBox__vVvCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vVvCc > :global(.__wab_flex-container) > picture > img,
.freeBox__vVvCc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__jCopw {
  font-size: 60px;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.h1__taShh {
  font-size: 40px;
  font-weight: 800;
  color: var(--token-bhkZ3Xso1Bhkbj);
  letter-spacing: 1px;
  line-height: 140%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__taShh {
    font-size: 32px;
  }
}
.column__kZUon {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-Upjowq-BeelUUS);
  border-bottom-right-radius: 150px;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__kZUon {
    width: 100%;
  }
}
.freeBox__sfMac {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--token-JNoyw_xuvedGqk);
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: none;
}
.img__zj79W {
  position: relative;
  object-fit: cover;
  max-width: 65%;
}
.img__zj79W > picture > img {
  object-fit: cover;
}
.img__zj79W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__h8P1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__h8P1 {
    display: none;
  }
}
.ctaBlog2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  transform: none;
  align-self: auto;
  min-width: 0;
  padding: 0px 135px 71px;
  border-width: 2px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBlog2 {
    padding: 29px 30px;
  }
}
.img__kdpG1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 263px;
  left: 214px;
  top: -21px;
  z-index: 1;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(5deg);
  transform-style: preserve-3d;
}
.img__kdpG1 > picture > img {
  object-fit: cover;
}
.img__kdpG1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__kdpG1 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__kdpG1 {
    width: 231px;
    height: auto;
    top: 0px;
    left: 80px;
    transform-style: preserve-3d;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__kdpG1 * {
    transform-style: preserve-3d;
  }
}
.columns__lQlMl {
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  transform: none;
  padding: 8px;
}
.columns__lQlMl > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lQlMl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px 1px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lQlMl > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jyfu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top -30% left 50% / contain repeat-x,
    url("./images/webBgPattern1Png.png") left 50% top 84.9% / contain no-repeat
      padding-box border-box,
    var(--token-JNoyw_xuvedGqk);
  min-width: 0;
  border-radius: 50px;
  padding: 84px 65px 56px;
  border-style: solid;
  border-color: var(--token-JNoyw_xuvedGqk);
}
.column__jyfu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__jyfu > :global(.__wab_flex-container) > *,
.column__jyfu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jyfu > :global(.__wab_flex-container) > picture > img,
.column__jyfu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__jyfu {
    border-radius: 30px;
    padding: 50px 30px;
  }
}
.h1___1QOsV {
  position: relative;
  width: 90%;
  height: auto;
  max-width: none;
  font-weight: 400;
  font-size: 22px;
  color: var(--token-Q82g8Y8_cG_48K);
  line-height: 145%;
  letter-spacing: normal;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1___1QOsV {
    font-size: 16px;
    width: 100%;
    min-width: 0;
  }
}
.section11 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  display: none;
  padding: 65px 135px;
}
.section11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section11 > :global(.__wab_flex-container) > *,
.section11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section11 > :global(.__wab_flex-container) > picture > img,
.section11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section11 {
    padding: 50px;
  }
}
.h1__ztAs {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-Upjowq-BeelUUS);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
.freeBox__qg57 {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-oAoLkUf1TYhli3);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.columns__uwq {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__uwq > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__uwq > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__uwq > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uwq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uwq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yfmNe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__yfmNe {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__rs5Xo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__rs5Xo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__rs5Xo > :global(.__wab_flex-container) > *,
.freeBox__rs5Xo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rs5Xo > :global(.__wab_flex-container) > picture > img,
.freeBox__rs5Xo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rs5Xo {
    align-self: center;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rs5Xo > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img___74VPz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img___74VPz > picture > img {
  object-fit: cover;
}
.img___74VPz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___74VPz {
    align-self: center;
  }
}
.text__plW9S {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__plW9S {
    align-self: center;
  }
}
.text__bhLpt {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-Upjowq-BeelUUS);
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__bhLpt {
    align-self: center;
    text-align: center;
  }
}
.column__kPcIa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__kPcIa {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__rEr7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__rEr7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__rEr7 > :global(.__wab_flex-container) > *,
.freeBox__rEr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rEr7 > :global(.__wab_flex-container) > picture > img,
.freeBox__rEr7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rEr7 {
    padding: 0px;
  }
}
.img__dERjL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__dERjL > picture > img {
  object-fit: cover;
}
.img__dERjL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__dERjL {
    align-self: center;
  }
}
.text__jHxZm {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__jHxZm {
    align-self: center;
  }
}
.text___3F9Xu {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-Upjowq-BeelUUS);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___3F9Xu {
    text-align: center;
    align-self: center;
  }
}
.column___9HxMj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
.freeBox__nYaGh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__nYaGh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__nYaGh > :global(.__wab_flex-container) > *,
.freeBox__nYaGh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nYaGh > :global(.__wab_flex-container) > picture > img,
.freeBox__nYaGh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__nYaGh {
    padding: 0px;
  }
}
.img__gfvl7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__gfvl7 > picture > img {
  object-fit: cover;
}
.img__gfvl7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__gfvl7 {
    align-self: center;
  }
}
.text__yaqL {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__yaqL {
    align-self: center;
  }
}
.text__xzbBx {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-Upjowq-BeelUUS);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xzbBx {
    text-align: center;
    align-self: center;
  }
}
.freeBox__gUqb4 {
  display: block;
  position: relative;
  width: 100%;
  max-width: 80%;
  align-self: center;
  background: #c7d8ee;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.cta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 140% / contain
      repeat-x,
    url("./images/webBgPattern1Png.png") top 89% left 50% / contain repeat-x,
    var(--token-Upjowq-BeelUUS);
  min-width: 0;
  padding: 80px 135px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .cta {
    padding-right: 30px;
    padding-left: 30px;
    background: url("./images/webBgPattern1Png.png") left 50% bottom 100% / contain
        repeat-x,
      url("./images/webBgPattern1Png.png") top 93% left 50% / contain repeat-x,
      var(--token-Upjowq-BeelUUS);
  }
}
.text__gtq0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  color: var(--token-4XdmCfH5lTB0df);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__gtq0 {
    font-size: 16px;
  }
}
.text__jRoe8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 65%;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__jRoe8 {
    font-size: 28px;
    max-width: none;
  }
}
.freeBox___6Vq11 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 8px 15px;
}
.freeBox___6Vq11 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___6Vq11 > :global(.__wab_flex-container) > *,
.freeBox___6Vq11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Vq11 > :global(.__wab_flex-container) > picture > img,
.freeBox___6Vq11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.link {
  flex-direction: row;
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 27px 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link {
    align-self: flex-start;
  }
}
.text__sEKd {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__sEKd {
    text-align: center;
  }
}
.img___7Dyc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img___7Dyc > picture > img {
  object-fit: cover;
}
.img___7Dyc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
