.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__yaQQc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, #f5f6f6 29%, #ffffff 90%);
  min-width: 0;
  padding: 60px 35px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .hero {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) > *,
  .hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .hero > :global(.__wab_flex-container) > picture > img,
  .hero
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
.columns___3Dshl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1140px;
  min-width: 0;
}
.columns___3Dshl > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns___3Dshl > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns___3Dshl > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns___3Dshl {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1024px) {
  .columns___3Dshl > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (max-width: 1024px) {
  .columns___3Dshl > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 8 / 12);
  }
}
@media (max-width: 1024px) {
  .columns___3Dshl > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___3Dshl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___3Dshl > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nXrn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__nXrn2 {
    display: none;
  }
}
.img__vtOb3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__vtOb3 > picture > img {
  object-fit: cover;
}
.img__vtOb3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__vtOb3 {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__vtOb3 > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__vtOb3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.column__evxoh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__r3Mze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__r3Mze > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__r3Mze > :global(.__wab_flex-container) > *,
.freeBox__r3Mze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r3Mze > :global(.__wab_flex-container) > picture > img,
.freeBox__r3Mze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__r3Mze > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__r3Mze > :global(.__wab_flex-container) > *,
  .freeBox__r3Mze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r3Mze > :global(.__wab_flex-container) > picture > img,
  .freeBox__r3Mze
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 35px;
  }
}
.freeBox__zi9No {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zi9No > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zi9No > :global(.__wab_flex-container) > *,
.freeBox__zi9No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zi9No > :global(.__wab_flex-container) > picture > img,
.freeBox__zi9No
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zi9No > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zi9No > :global(.__wab_flex-container) > *,
  .freeBox__zi9No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zi9No > :global(.__wab_flex-container) > picture > img,
  .freeBox__zi9No
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text__jB598 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__jB598 {
    font-size: 13px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 150%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    text-align: center;
    font-size: 32px;
  }
}
.text__gwJoz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__gwJoz {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__gwJoz {
    text-align: center;
    font-size: 18px;
  }
}
.link___5CQtx {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 48px;
  width: 215px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link___5CQtx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link___5CQtx > :global(.__wab_flex-container) > *,
.link___5CQtx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___5CQtx > :global(.__wab_flex-container) > picture > img,
.link___5CQtx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___5CQtx {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___5CQtx > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__eOyly {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eOyly {
    text-align: center;
  }
}
.img__kpDje {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__kpDje > picture > img {
  object-fit: cover;
}
.img__kpDje > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__qGGdA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__qGGdA {
    display: none;
  }
}
.img___3XhiT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img___3XhiT > picture > img {
  object-fit: cover;
}
.img___3XhiT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img___3XhiT {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img___3XhiT > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img___3XhiT > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.img__hbDm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 310px;
  left: auto;
  top: auto;
  z-index: 3;
  align-self: center;
}
.img__hbDm > picture > img {
  object-fit: cover;
}
.img__hbDm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__hbDm {
    position: relative;
    left: auto;
    top: auto;
    width: 240px;
  }
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JNoyw_xuvedGqk);
  min-width: 0;
  padding: 10px 35px 126px;
}
@media (max-width: 1024px) {
  .section2 {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 70px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .section2 {
    padding: 0px 35px 45px;
  }
}
.freeBox__bowM4 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 177px;
  max-width: 100%;
  left: 0px;
  top: -96px;
  background: var(--token-bhkZ3Xso1Bhkbj);
  margin-top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__bowM4 {
    left: 2px;
    top: -123px;
    padding: 0px;
  }
}
.columns__mMHq5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 1140px;
  justify-content: flex-start;
  background: var(--token-4XdmCfH5lTB0df);
  z-index: 2;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__mMHq5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mMHq5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mMHq5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dzQbp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px 10px;
}
@media (max-width: 1024px) {
  .column__dzQbp {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__dzQbp {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.text__xHoL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 950px;
  color: #ffffff;
  font-size: 28px;
  padding-bottom: 0px;
  text-align: center;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xHoL {
    font-size: 18px;
  }
}
.columns__s8G8E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 55px;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns__s8G8E > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__s8G8E > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__s8G8E > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__s8G8E > :global(.__wab_flex-container) > *,
.columns__s8G8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__s8G8E > :global(.__wab_flex-container) > picture > img,
.columns__s8G8E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .columns__s8G8E {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .columns__s8G8E > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__s8G8E > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s8G8E {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 45px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s8G8E > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s8G8E > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s8G8E > :global(.__wab_flex-container) > *,
  .columns__s8G8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__s8G8E > :global(.__wab_flex-container) > picture > img,
  .columns__s8G8E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__xJojs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__xJojs {
    padding: 0px;
  }
}
.freeBox__uE0SN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__uE0SN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__uE0SN > :global(.__wab_flex-container) > *,
.freeBox__uE0SN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uE0SN > :global(.__wab_flex-container) > picture > img,
.freeBox__uE0SN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__uE0SN > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__uE0SN > :global(.__wab_flex-container) > *,
  .freeBox__uE0SN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uE0SN > :global(.__wab_flex-container) > picture > img,
  .freeBox__uE0SN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___2Hlth {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 400px;
}
.img___2Hlth > picture > img {
  object-fit: cover;
}
.img___2Hlth > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___078K1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text___078K1 {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___078K1 {
    font-size: 20px;
  }
}
.text__j8AMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__j8AMy {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__j8AMy {
    font-size: 16px;
  }
}
.column___0Ceyf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___0Ceyf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column___0Ceyf > :global(.__wab_flex-container) > *,
.column___0Ceyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___0Ceyf > :global(.__wab_flex-container) > picture > img,
.column___0Ceyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___0Ceyf {
    padding: 0px;
  }
}
.freeBox__zT24H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__zT24H > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__zT24H > :global(.__wab_flex-container) > *,
.freeBox__zT24H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zT24H > :global(.__wab_flex-container) > picture > img,
.freeBox__zT24H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zT24H > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zT24H > :global(.__wab_flex-container) > *,
  .freeBox__zT24H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zT24H > :global(.__wab_flex-container) > picture > img,
  .freeBox__zT24H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__zi35X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__zi35X > picture > img {
  object-fit: cover;
}
.img__zi35X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qkMq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__qkMq {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__qkMq {
    font-size: 20px;
  }
}
.text__gsw5S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__gsw5S {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__gsw5S {
    font-size: 16px;
  }
}
.columns__tyd0C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns__tyd0C > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__tyd0C > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__tyd0C > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__tyd0C > :global(.__wab_flex-container) > *,
.columns__tyd0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tyd0C > :global(.__wab_flex-container) > picture > img,
.columns__tyd0C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tyd0C {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tyd0C > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tyd0C > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tyd0C > :global(.__wab_flex-container) > *,
  .columns__tyd0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tyd0C > :global(.__wab_flex-container) > picture > img,
  .columns__tyd0C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column___1IHc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___1IHc {
    padding: 0px;
  }
}
.freeBox__hCchA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__hCchA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__hCchA > :global(.__wab_flex-container) > *,
.freeBox__hCchA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hCchA > :global(.__wab_flex-container) > picture > img,
.freeBox__hCchA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hCchA > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hCchA > :global(.__wab_flex-container) > *,
  .freeBox__hCchA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hCchA > :global(.__wab_flex-container) > picture > img,
  .freeBox__hCchA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___1CBh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img___1CBh > picture > img {
  object-fit: cover;
}
.img___1CBh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__m0XHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__m0XHf {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__m0XHf {
    font-size: 20px;
  }
}
.text__cr6El {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__cr6El {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__cr6El {
    font-size: 16px;
  }
}
.column__qV1Ww {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__qV1Ww > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__qV1Ww > :global(.__wab_flex-container) > *,
.column__qV1Ww > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qV1Ww > :global(.__wab_flex-container) > picture > img,
.column__qV1Ww
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__qV1Ww {
    padding: 0px;
  }
}
.freeBox__aon9E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__aon9E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__aon9E > :global(.__wab_flex-container) > *,
.freeBox__aon9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aon9E > :global(.__wab_flex-container) > picture > img,
.freeBox__aon9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aon9E > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__aon9E > :global(.__wab_flex-container) > *,
  .freeBox__aon9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aon9E > :global(.__wab_flex-container) > picture > img,
  .freeBox__aon9E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__u8BZ4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__u8BZ4 > picture > img {
  object-fit: cover;
}
.img__u8BZ4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__fYy4I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__fYy4I {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__fYy4I {
    font-size: 20px;
  }
}
.text__f7HRj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__f7HRj {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__f7HRj {
    font-size: 16px;
  }
}
.freeBox__oD96I {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 215px;
  max-width: 100%;
  left: 0;
  top: auto;
  background: var(--token-JNoyw_xuvedGqk);
  margin-top: 0px;
  z-index: 0;
  bottom: -200px;
  right: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__oD96I {
    left: 0;
    top: auto;
    bottom: -200px;
    right: 0;
    width: auto;
    display: flex;
    padding: 0px;
  }
}
.freeBox__uVdWz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px 35px;
}
@media (max-width: 1024px) {
  .freeBox__uVdWz {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__uVdWz {
    padding: 35px;
  }
}
.freeBox___3FFjK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1140px;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 5.87% / contain
      no-repeat,
    url("./images/webBgPattern1Png.png") top -33.25% left 50% / contain no-repeat,
    var(--token-Upjowq-BeelUUS);
  min-width: 0;
  border-radius: 50px;
  padding: 40px 92px 0px;
}
@media (max-width: 1024px) {
  .freeBox___3FFjK {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___3FFjK {
    border-radius: 30px;
    padding: 30px 30px 0px;
  }
}
.columns___8Ham {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns___8Ham > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns___8Ham > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns___8Ham {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1024px) {
  .columns___8Ham > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 8 / 12);
  }
}
@media (max-width: 1024px) {
  .columns___8Ham > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8Ham {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___8Ham > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gyQcd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 25px;
  min-width: 0;
}
.column__gyQcd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__gyQcd > :global(.__wab_flex-container) > *,
.column__gyQcd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gyQcd > :global(.__wab_flex-container) > picture > img,
.column__gyQcd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1024px) {
  .column__gyQcd {
    padding-bottom: 0px;
  }
}
.text__eugxe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__eugxe {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eugxe {
    text-align: center;
    font-size: 16px;
  }
}
.text__vxcNh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 145%;
  font-weight: 300;
  padding-right: 59px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__vxcNh {
    font-size: 28px;
    padding-right: 30px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__vxcNh {
    font-size: 22px;
    padding-right: 0px;
    text-align: center;
  }
}
.freeBox__ktdMg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 8px 15px;
}
.freeBox__ktdMg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ktdMg > :global(.__wab_flex-container) > *,
.freeBox__ktdMg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ktdMg > :global(.__wab_flex-container) > picture > img,
.freeBox__ktdMg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .freeBox__ktdMg {
    padding-bottom: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ktdMg {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ktdMg > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link___3Ptmy {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 45px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link___3Ptmy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link___3Ptmy > :global(.__wab_flex-container) > *,
.link___3Ptmy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___3Ptmy > :global(.__wab_flex-container) > picture > img,
.link___3Ptmy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___3Ptmy {
    align-self: flex-start;
  }
}
.text___3Sjq2 {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___3Sjq2 {
    text-align: center;
  }
}
.img__z7OfB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__z7OfB > picture > img {
  object-fit: cover;
}
.img__z7OfB > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___6B0Eb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__cotk3 {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cotk3 > picture > img {
  object-fit: cover;
}
.img__cotk3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__cotk3 {
    object-fit: contain;
    object-position: 50% bottom;
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .img__cotk3 > picture > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (max-width: 1024px) {
  .img__cotk3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__cotk3 {
    max-width: 180px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
