.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__sBihk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section1 {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.section1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section1 > :global(.__wab_flex-container) > *,
.section1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section1 > :global(.__wab_flex-container) > picture > img,
.section1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .section1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-iS2w02oNBYVza-);
  min-width: 0;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1024px) {
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6HbPs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-Upjowq-BeelUUS);
  align-items: flex-end;
  padding-left: 35px;
}
@media (max-width: 1024px) {
  .column___6HbPs {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___6HbPs {
    width: 100%;
  }
}
.freeBox__wVeRv {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-Upjowq-BeelUUS);
  height: 100%;
  max-width: 570px;
  min-width: 0;
  min-height: 0;
  padding: 125px 0px 100px;
}
.freeBox__wVeRv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 37px);
  height: calc(100% + 37px);
}
.freeBox__wVeRv > :global(.__wab_flex-container) > *,
.freeBox__wVeRv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wVeRv > :global(.__wab_flex-container) > picture > img,
.freeBox__wVeRv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 37px;
}
@media (max-width: 1024px) {
  .freeBox__wVeRv {
    padding-left: 35px;
    max-width: none;
    padding-right: 35px;
    padding-bottom: 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__wVeRv {
    border-bottom-right-radius: 0px;
    padding: 45px 30px 10px;
  }
}
.copy {
  display: flex;
  flex-direction: column;
  max-width: none;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .copy {
    margin-bottom: 20px;
  }
}
.freeBox__jDwK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jDwK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__jDwK > :global(.__wab_flex-container) > *,
.freeBox__jDwK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jDwK > :global(.__wab_flex-container) > picture > img,
.freeBox__jDwK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__aKztx {
  font-size: 60px;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.h1__wNe56 {
  font-size: 46px;
  font-weight: 800;
  color: var(--token-bhkZ3Xso1Bhkbj);
  letter-spacing: 1px;
  line-height: 140%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .h1__wNe56 {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__wNe56 {
    font-size: 32px;
  }
}
.text__qDLmn {
  font-size: 22px;
  color: var(--token-bhkZ3Xso1Bhkbj);
  line-height: 140%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 30px;
  width: 75%;
}
@media (max-width: 1024px) {
  .text__qDLmn {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__qDLmn {
    font-size: 18px;
    width: 100%;
    min-width: 0;
  }
}
.link__xbLkw {
  position: relative;
  background: var(--token-4XdmCfH5lTB0df);
  height: 48px;
  width: 215px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__xbLkw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__xbLkw > :global(.__wab_flex-container) > *,
.link__xbLkw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xbLkw > :global(.__wab_flex-container) > picture > img,
.link__xbLkw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__xbLkw {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__xbLkw > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-end;
  }
}
.text___88J05 {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___88J05 {
    text-align: center;
  }
}
.img__z8AFk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__z8AFk > picture > img {
  object-fit: cover;
}
.img__z8AFk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__eSwOw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-Upjowq-BeelUUS);
  border-bottom-right-radius: 150px;
  justify-content: flex-end;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__eSwOw {
    width: 100%;
    border-bottom-right-radius: 100px;
  }
}
.freeBox__mywyg {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--token-JNoyw_xuvedGqk);
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: none;
}
.img__wlQXg {
  position: relative;
  object-fit: cover;
  max-width: 84%;
}
.img__wlQXg > picture > img {
  object-fit: cover;
}
.img__wlQXg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__wlQXg {
    max-width: 85%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__wlQXg {
    max-width: 75%;
  }
}
.freeBox___6D8PY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1140px;
  min-width: 0;
  padding: 0px;
  margin: 72px 0px 30px;
}
.freeBox___6D8PY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.freeBox___6D8PY > :global(.__wab_flex-container) > *,
.freeBox___6D8PY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6D8PY > :global(.__wab_flex-container) > picture > img,
.freeBox___6D8PY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
.freeBox___8LcQe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8LcQe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 45px);
  height: calc(100% + 45px);
}
.freeBox___8LcQe > :global(.__wab_flex-container) > *,
.freeBox___8LcQe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8LcQe > :global(.__wab_flex-container) > picture > img,
.freeBox___8LcQe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 45px;
}
.freeBox__yOG7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yOG7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__yOG7 > :global(.__wab_flex-container) > *,
.freeBox__yOG7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yOG7 > :global(.__wab_flex-container) > picture > img,
.freeBox__yOG7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yOG7 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yOG7 > :global(.__wab_flex-container) > *,
  .freeBox__yOG7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yOG7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yOG7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h1__zCmGc {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-Upjowq-BeelUUS);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
@media (max-width: 1024px) {
  .h1__zCmGc {
    font-size: 32px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__zCmGc {
    line-height: 140%;
    text-align: center;
    font-size: 28px;
    display: block;
  }
}
.freeBox__er8Yu {
  display: block;
  position: relative;
  width: 250px;
  max-width: 100%;
  align-self: center;
  background: var(--token-oAoLkUf1TYhli3);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__er8Yu {
    width: 200px;
  }
}
.freeBox__cxTc {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cxTc {
    display: flex;
  }
}
.showcaseComponentMobile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___4LxVm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4LxVm {
    display: none;
  }
}
.freeBox__vyuJl {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.showcaseComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.img__iqDz4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
}
.img__iqDz4 > picture > img {
  object-fit: cover;
}
.img__iqDz4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__nqfKk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JNoyw_xuvedGqk);
  min-width: 0;
  padding: 43px 8px 81px;
  margin: 0px;
}
.freeBox__nqfKk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__nqfKk > :global(.__wab_flex-container) > *,
.freeBox__nqfKk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nqfKk > :global(.__wab_flex-container) > picture > img,
.freeBox__nqfKk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.freeBox___6YDQo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6YDQo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___6YDQo > :global(.__wab_flex-container) > *,
.freeBox___6YDQo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6YDQo > :global(.__wab_flex-container) > picture > img,
.freeBox___6YDQo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6YDQo {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6YDQo > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___6YDQo > :global(.__wab_flex-container) > *,
  .freeBox___6YDQo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6YDQo > :global(.__wab_flex-container) > picture > img,
  .freeBox___6YDQo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h1___2QoMt {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-Upjowq-BeelUUS);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
@media (max-width: 1024px) {
  .h1___2QoMt {
    font-size: 32px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1___2QoMt {
    line-height: 140%;
    text-align: center;
    font-size: 28px;
  }
}
.freeBox__fw1U7 {
  display: block;
  position: relative;
  width: 280px;
  max-width: 100%;
  align-self: auto;
  background: var(--token-oAoLkUf1TYhli3);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fw1U7 {
    width: 220px;
  }
}
.freeBox__fcI2R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fcI2R {
    display: none;
  }
}
.freeBox__sOwq {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.webShowcaseComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.freeBox__gmAwv {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__gmAwv {
    display: flex;
  }
}
.webShowcaseComponentMobile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cta2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 140% / contain
      repeat-x,
    url("./images/webBgPattern1Png.png") top 89% left 50% / contain repeat-x,
    var(--token-Upjowq-BeelUUS);
  min-width: 0;
  padding: 80px 35px;
}
.cta2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.cta2 > :global(.__wab_flex-container) > *,
.cta2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta2 > :global(.__wab_flex-container) > picture > img,
.cta2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .cta2 {
    padding-right: 35px;
    padding-left: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .cta2 {
    padding-right: 30px;
    padding-left: 30px;
    background: url("./images/webBgPattern1Png.png") left 50% bottom 100% / contain
        repeat-x,
      url("./images/webBgPattern1Png.png") top 93% left 50% / contain repeat-x,
      var(--token-Upjowq-BeelUUS);
  }
}
.freeBox__yaNOm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1140px;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__yaNOm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__yaNOm > :global(.__wab_flex-container) > *,
.freeBox__yaNOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yaNOm > :global(.__wab_flex-container) > picture > img,
.freeBox__yaNOm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text___2FyVm {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-4XdmCfH5lTB0df);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text___2FyVm {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___2FyVm {
    font-size: 16px;
  }
}
.text___6FLK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 750px;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text___6FLK {
    font-size: 32px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___6FLK {
    font-size: 28px;
    max-width: none;
  }
}
.freeBox__bhyb3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 8px 15px;
}
.freeBox__bhyb3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__bhyb3 > :global(.__wab_flex-container) > *,
.freeBox__bhyb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bhyb3 > :global(.__wab_flex-container) > picture > img,
.freeBox__bhyb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .freeBox__bhyb3 {
    padding-top: 35px;
  }
}
.link__x15Fc {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 45px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 6px 27px 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__x15Fc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__x15Fc > :global(.__wab_flex-container) > *,
.link__x15Fc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__x15Fc > :global(.__wab_flex-container) > picture > img,
.link__x15Fc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__x15Fc {
    align-self: flex-start;
  }
}
.text__i3Gxs {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__i3Gxs {
    text-align: center;
  }
}
.img__dxpTs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__dxpTs > picture > img {
  object-fit: cover;
}
.img__dxpTs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
