.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__e6Iel {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, #f5f6f6 29%, #ffffff 90%);
  min-width: 0;
  padding: 60px 0px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .hero {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 45px);
    height: calc(100% + 45px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero > :global(.__wab_flex-container) > *,
  .hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .hero > :global(.__wab_flex-container) > picture > img,
  .hero
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 45px;
  }
}
.columns__tvKsL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1140px;
  min-width: 0;
}
.columns__tvKsL > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__tvKsL > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__tvKsL > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns__tvKsL {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1024px) {
  .columns__tvKsL > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__tvKsL > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 8 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__tvKsL > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tvKsL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tvKsL > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__j8Kju {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__j8Kju {
    display: none;
  }
}
.img__w578C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__w578C > picture > img {
  object-fit: cover;
}
.img__w578C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__w578C {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__w578C > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__w578C > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.column__mko0S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__cHx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cHx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__cHx > :global(.__wab_flex-container) > *,
.freeBox__cHx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cHx > :global(.__wab_flex-container) > picture > img,
.freeBox__cHx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cHx > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cHx > :global(.__wab_flex-container) > *,
  .freeBox__cHx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cHx > :global(.__wab_flex-container) > picture > img,
  .freeBox__cHx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 35px;
  }
}
.freeBox__mqtDf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mqtDf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mqtDf > :global(.__wab_flex-container) > *,
.freeBox__mqtDf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqtDf > :global(.__wab_flex-container) > picture > img,
.freeBox__mqtDf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mqtDf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mqtDf > :global(.__wab_flex-container) > *,
  .freeBox__mqtDf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mqtDf > :global(.__wab_flex-container) > picture > img,
  .freeBox__mqtDf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text__i96Zp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__i96Zp {
    text-align: center;
    font-size: 13px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 150%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    text-align: center;
    font-size: 32px;
  }
}
.text__tvGwS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__tvGwS {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__tvGwS {
    text-align: center;
    font-size: 18px;
  }
}
.link__kq3Bz {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 48px;
  width: 215px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__kq3Bz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__kq3Bz > :global(.__wab_flex-container) > *,
.link__kq3Bz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kq3Bz > :global(.__wab_flex-container) > picture > img,
.link__kq3Bz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__kq3Bz {
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__kq3Bz > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__gtMi0 {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__gtMi0 {
    text-align: center;
  }
}
.img__nVkw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__nVkw > picture > img {
  object-fit: cover;
}
.img__nVkw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__aliIb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__aliIb {
    display: none;
  }
}
.img__kna2A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__kna2A > picture > img {
  object-fit: cover;
}
.img__kna2A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__kna2A {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__kna2A > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  .img__kna2A > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.img__fLqc5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
  left: auto;
  top: auto;
  z-index: 3;
  align-self: center;
}
.img__fLqc5 > picture > img {
  object-fit: cover;
}
.img__fLqc5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__fLqc5 {
    position: relative;
    left: auto;
    top: auto;
    width: 240px;
  }
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JNoyw_xuvedGqk);
  min-width: 0;
  padding: 10px 0px 126px;
}
@media (max-width: 1024px) {
  .section2 {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 70px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .section2 {
    padding: 0px 35px 45px;
  }
}
.freeBox__ak9Ud {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 177px;
  max-width: 100%;
  left: 0px;
  top: -85px;
  background: var(--token-bhkZ3Xso1Bhkbj);
  margin-top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ak9Ud {
    left: 2px;
    top: -84px;
    padding: 0px;
  }
}
.columns__zVtkO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 1140px;
  justify-content: flex-start;
  background: var(--token-4XdmCfH5lTB0df);
  z-index: 2;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__zVtkO > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zVtkO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zVtkO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ayG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px 10px;
}
@media (max-width: 1024px) {
  .column__ayG {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.text___8Wvfq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 950px;
  color: #ffffff;
  font-size: 28px;
  line-height: 140%;
  padding-bottom: 0px;
  text-align: center;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text___8Wvfq {
    font-size: 22px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___8Wvfq {
    font-size: 18px;
  }
}
.columns__ba6Sm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 75px;
  margin-bottom: 55px;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns__ba6Sm > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__ba6Sm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__ba6Sm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__ba6Sm > :global(.__wab_flex-container) > *,
.columns__ba6Sm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ba6Sm > :global(.__wab_flex-container) > picture > img,
.columns__ba6Sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 1024px) {
  .columns__ba6Sm {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .columns__ba6Sm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__ba6Sm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 40px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ba6Sm {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 45px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ba6Sm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ba6Sm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ba6Sm > :global(.__wab_flex-container) > *,
  .columns__ba6Sm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ba6Sm > :global(.__wab_flex-container) > picture > img,
  .columns__ba6Sm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__wncr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__wncr {
    padding: 0px;
  }
}
.freeBox__h3YcE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__h3YcE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__h3YcE > :global(.__wab_flex-container) > *,
.freeBox__h3YcE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h3YcE > :global(.__wab_flex-container) > picture > img,
.freeBox__h3YcE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__h3YcE > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__h3YcE > :global(.__wab_flex-container) > *,
  .freeBox__h3YcE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h3YcE > :global(.__wab_flex-container) > picture > img,
  .freeBox__h3YcE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__rNXq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 400px;
}
.img__rNXq > picture > img {
  object-fit: cover;
}
.img__rNXq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__sQVzd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__sQVzd {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__sQVzd {
    font-size: 20px;
  }
}
.text__lqTv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__lqTv {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lqTv {
    font-size: 16px;
  }
}
.column__bd4Qg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bd4Qg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__bd4Qg > :global(.__wab_flex-container) > *,
.column__bd4Qg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bd4Qg > :global(.__wab_flex-container) > picture > img,
.column__bd4Qg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__bd4Qg {
    padding: 0px;
  }
}
.freeBox__mtLSt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__mtLSt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__mtLSt > :global(.__wab_flex-container) > *,
.freeBox__mtLSt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mtLSt > :global(.__wab_flex-container) > picture > img,
.freeBox__mtLSt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mtLSt > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mtLSt > :global(.__wab_flex-container) > *,
  .freeBox__mtLSt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mtLSt > :global(.__wab_flex-container) > picture > img,
  .freeBox__mtLSt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__aZHno {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__aZHno > picture > img {
  object-fit: cover;
}
.img__aZHno > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__rpIF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__rpIF {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__rpIF {
    font-size: 20px;
  }
}
.text__dfDha {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__dfDha {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__dfDha {
    font-size: 16px;
  }
}
.columns__ew46P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns__ew46P > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__ew46P > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__ew46P > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__ew46P > :global(.__wab_flex-container) > *,
.columns__ew46P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ew46P > :global(.__wab_flex-container) > picture > img,
.columns__ew46P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ew46P {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ew46P > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ew46P > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ew46P > :global(.__wab_flex-container) > *,
  .columns__ew46P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ew46P > :global(.__wab_flex-container) > picture > img,
  .columns__ew46P
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__jJf7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__jJf7 {
    padding: 0px;
  }
}
.freeBox__jAe5J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__jAe5J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__jAe5J > :global(.__wab_flex-container) > *,
.freeBox__jAe5J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jAe5J > :global(.__wab_flex-container) > picture > img,
.freeBox__jAe5J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jAe5J > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jAe5J > :global(.__wab_flex-container) > *,
  .freeBox__jAe5J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jAe5J > :global(.__wab_flex-container) > picture > img,
  .freeBox__jAe5J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img___1P8MU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img___1P8MU > picture > img {
  object-fit: cover;
}
.img___1P8MU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__bkCbb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__bkCbb {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__bkCbb {
    font-size: 20px;
  }
}
.text__klYyP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__klYyP {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__klYyP {
    font-size: 16px;
  }
}
.column__wrz8U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__wrz8U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__wrz8U > :global(.__wab_flex-container) > *,
.column__wrz8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wrz8U > :global(.__wab_flex-container) > picture > img,
.column__wrz8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__wrz8U {
    padding: 0px;
  }
}
.freeBox__i4Lwu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__i4Lwu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__i4Lwu > :global(.__wab_flex-container) > *,
.freeBox__i4Lwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i4Lwu > :global(.__wab_flex-container) > picture > img,
.freeBox__i4Lwu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__i4Lwu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__i4Lwu > :global(.__wab_flex-container) > *,
  .freeBox__i4Lwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i4Lwu > :global(.__wab_flex-container) > picture > img,
  .freeBox__i4Lwu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.img__efp2I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__efp2I > picture > img {
  object-fit: cover;
}
.img__efp2I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__abDkf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-dgb1zWm6k2lRC7);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__abDkf {
    font-size: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__abDkf {
    font-size: 20px;
  }
}
.text__w5WDu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__w5WDu {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__w5WDu {
    font-size: 16px;
  }
}
.freeBox___5KuuG {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 215px;
  max-width: 100%;
  left: 0;
  top: auto;
  background: var(--token-JNoyw_xuvedGqk);
  margin-top: 0px;
  z-index: 0;
  bottom: -200px;
  right: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 1024px) {
  .freeBox___5KuuG {
    bottom: -200px;
    left: 0;
    right: 0;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___5KuuG {
    left: 0;
    top: auto;
    bottom: -200px;
    right: 0;
    width: auto;
    display: flex;
    padding: 0px;
  }
}
.freeBox___9Bjmw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1024px) {
  .freeBox___9Bjmw {
    z-index: 1;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___9Bjmw {
    z-index: 1;
    padding: 35px;
  }
}
.freeBox__lNpPz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1140px;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 130.75% / contain
      no-repeat,
    url("./images/webBgPattern1Png.png") top 94% left 50% / contain no-repeat,
    var(--token-Upjowq-BeelUUS);
  min-width: 0;
  border-radius: 50px;
  padding: 40px 92px 0px;
}
@media (max-width: 1024px) {
  .freeBox__lNpPz {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__lNpPz {
    border-radius: 30px;
    padding: 30px 30px 0px;
  }
}
.columns__guf2I {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__guf2I > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns__guf2I > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (max-width: 1024px) {
  .columns__guf2I {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1024px) {
  .columns__guf2I > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 8 / 12);
  }
}
@media (max-width: 1024px) {
  .columns__guf2I > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__guf2I {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__guf2I > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oSxxt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 25px;
  min-width: 0;
}
.column__oSxxt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__oSxxt > :global(.__wab_flex-container) > *,
.column__oSxxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__oSxxt > :global(.__wab_flex-container) > picture > img,
.column__oSxxt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1024px) {
  .column__oSxxt {
    padding-bottom: 0px;
  }
}
.text__puup1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4XdmCfH5lTB0df);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__puup1 {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__puup1 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.text__vuTwL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 145%;
  font-weight: 300;
  padding-right: 109px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__vuTwL {
    padding-right: 30px;
    font-size: 28px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__vuTwL {
    font-size: 22px;
    padding-right: 0px;
    text-align: center;
  }
}
.freeBox__defBu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 8px 15px;
}
.freeBox__defBu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__defBu > :global(.__wab_flex-container) > *,
.freeBox__defBu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__defBu > :global(.__wab_flex-container) > picture > img,
.freeBox__defBu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .freeBox__defBu {
    padding-bottom: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__defBu {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__defBu > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link__q69KC {
  position: relative;
  background: var(--token-oAoLkUf1TYhli3);
  height: 45px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link__q69KC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__q69KC > :global(.__wab_flex-container) > *,
.link__q69KC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__q69KC > :global(.__wab_flex-container) > picture > img,
.link__q69KC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__q69KC {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__q69KC > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.text__kjYce {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__kjYce {
    text-align: center;
  }
}
.img___6N4VL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img___6N4VL > picture > img {
  object-fit: cover;
}
.img___6N4VL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___94Iz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__zxeq1 {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zxeq1 > picture > img {
  object-fit: cover;
}
.img__zxeq1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__zxeq1 {
    object-fit: contain;
    object-position: 50% bottom;
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .img__zxeq1 > picture > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (max-width: 1024px) {
  .img__zxeq1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
    object-position: 50% bottom;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__zxeq1 {
    width: 95%;
    max-width: 180px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
